@use '../../utils/styles' as *;

.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $color-primary;

	h2 {
		font-weight: 700;
		font-size: 12em;
	}

	h3 {
		margin: 100px 0;
		font-size: 1.4em;
	}

	a {
		text-decoration: underline;
	}
}
