@use '../../utils/styles' as *;

.card-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	background-color: $color-secondary;
	border-radius: 25px;
	padding: 50px;
	margin: 40px 0;
}
