* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

body {
	max-width: 1440px;
	margin: auto;
	padding: 0 100px;
}

a {
	text-decoration: none;
	color: #ff6060;
}
